/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 24, 2019, 3:48:12 PM
    Author     : stevenbaker
*/

h1, h2, h3, h4, h5, h6 {font-family: "Lato"; }
body, input, textarea, select, .greennature-content-font{ font-family: "Lato"; }
body, p { font-size: 16px; color: #333; }
h1{ font-size: 47px; }
h2{ font-size: 41px; }
h3{ font-size: 32px; }
h4{ font-size: 26px; }
h5{ font-size: 21px; }
h6{ font-size: 16px; }

.h1{ font-size: 47px; }
.h2{ font-size: 41px; }
.h3{ font-size: 32px; }
.h4{ font-size: 26px; }
.h5{ font-size: 21px; }
.h6{ font-size: 16px; }



.text-black {
    color: #333; 
}
.text-gray {
    color: gray;
}
.text-white {
    color: white;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
.text-shadow {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
span {
    color: #333;
}
ul {
    color: #333;
}

.social-icons ul li.social-pinterest a:before {
    content: "\f0d2";
}
.social-icons ul li.social-pinterest a:after {
    content: "\f0d2";
    background: #F45750;
}

.stay {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
}

.thumbpadrt {
    margin-right: 15px;
}

.display-none {
    display: none;
}

.sb_toggle:after {
	color: #FFFFFF;
        content: "\f067";
	/*content: "";*/
	display: block;
	font-family: "fontawesome";
	font-size: 15px;
	height: 40px;
	left: 24px;
	position: absolute;
	text-shadow: none !important;
	top: 3px;
}
.sb_toggle.open:after {
        content: "\f068";
	/*content: "";*/
	display: block;
	font-family: "fontawesome";
	font-size: 16px;
	height: 40px;
	left: 24px;
	position: absolute;
	top: 3px;
}

/* ---------------------------------------------------------------------- */
/*      GHANA CUSTOM CSS
 /* ---------------------------------------------------------------------- */





/* ---------------------------------------------------------------------- */
/*      Responsive Breakpoints

/* ---------------------------------------------------------------------- */
/*	From Medium Devices Up To Larger Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 992px) {

    /*Revolution Slider*/

    .slide_title1 {
        background: rgba(255, 255, 255, .8);
        width: 100%;
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 400;
        color: #015f9c;
        letter-spacing: 2px;
        text-transform: uppercase;

        padding: 0px 0px 10px 30px;
    }
    .slide_subtitle1 {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #349ed6;

    }
    .slide_title2 {
        font-family: 'Tinos';
        font-size: 40px;
        font-weight: 200;
        font-style: italic;
        color: #015f9c;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title2 sup {
        font-size: 16px;
    }
    
    .slide_subtitle-ec {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        /*color: #349ed6;*/
        color: #000;

    }
    .slide_title-ec {
        font-family: 'Tinos';
        font-size: 40px;
        font-weight: 200;
        font-style: italic;
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title-ec sup {
        font-size: 16px;
    }
    
    .slide_desc-ec {
        color: #000;
    }
}

/* ---------------------------------------------------------------------- */
/*	From Small Devices Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {

    /*Revolution Slider*/

    .slide_title1 {
        background: rgba(255, 255, 255, .8);
        /*background: rgba(214, 52, 75, .8);*/ /* red */
        width: 100%;
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 400;
        color: #015f9c;
        letter-spacing: 2px;
        text-transform: uppercase;

        padding: 0px 0px 10px 30px;
    }
    .slide_subtitle1 {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #349ed6;

    }
    .slide_title2 {
        font-family: 'Tinos';
        font-size: 40px;
        font-weight: 200;
        font-style: italic;
        color: #015f9c;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title2 sup {
        font-size: 16px;
    }
    
    .slide_subtitle-ec {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        /*color: #349ed6;*/
        color: #000;

    }
    .slide_title-ec {
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 200;
        font-style: italic;
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title-ec sup {
        font-size: 16px;
    }
    
    .slide_desc-ec {
        color: #000;
    }
}
/* ---------------------------------------------------------------------- */
/*	Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (max-width: 991px) {

    /*Revolution Slider*/

    .slide_title1 {
        background: rgba(255, 255, 255, .8);
        /*background: rgba(23, 66, 252, .8);*/ /* blue */
        width: 100%;
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 400;
        color: #015f9c;
        letter-spacing: 2px;
        text-transform: uppercase;

        padding: 0px 0px 10px 30px;
    }
    .slide_subtitle1 {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #349ed6;

    }
    .slide_title2 {
        font-family: 'Tinos';
        font-size: 40px;
        font-weight: 200;
        font-style: italic;
        color: #015f9c;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title2 sup {
        font-size: 16px;
    }
    
    .slide_subtitle-ec {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        /*color: #349ed6;*/
        color: #000;

    }
    .slide_title-ec {
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 200;
        font-style: italic;
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title-ec sup {
        font-size: 16px;
    }
    
    .slide_desc-ec {
        color: #000;
    }


}
/* ---------------------------------------------------------------------- */
/*	Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 768px) {

    /*Revolution Slider*/

    .slide_title1 {
        background: rgba(255, 255, 255, .8);
        /*background: rgba(252, 141, 23, .8);*/ /* orange */
        width: 100%;
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 400;
        color: #015f9c;
        letter-spacing: 2px;
        text-transform: uppercase;

        padding: 0px 0px 10px 30px;
    }
    .slide_subtitle1 {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #349ed6;

    }
    .slide_title2 {
        font-family: 'Tinos';
        font-size: 40px;
        font-weight: 200;
        font-style: italic;
        color: #015f9c;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title2 sup {
        font-size: 16px;
    }
    
    .slide_subtitle-ec {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        /*color: #349ed6;*/
        color: #000;

    }
    .slide_title-ec {
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 200;
        font-style: italic;
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title-ec sup {
        font-size: 16px;
    }
    
    .slide_desc-ec {
        color: #000;
    }
}
/* ---------------------------------------------------------------------- */
/*	Extra Small Devices Only
 /* ---------------------------------------------------------------------- */
@media (max-width: 767px) {

    /*Revolution Slider*/

    .slide_title1 {
        background: rgba(255, 255, 255, .8);
        width: 100%;
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 400;
        color: #015f9c;
        letter-spacing: 2px;
        text-transform: uppercase;

        padding: 0px 0px 10px 30px;
    }
    .slide_subtitle1 {
        font-family: 'Lato', sans-serif;
        font-size: 6px;
        color: #349ed6;

    }
    .slide_title2 {
        font-family: 'Tinos';
        font-size: 50px;
        font-weight: 200;
        font-style: italic;
        color: #015f9c;
        letter-spacing: 0px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title2 sup {
        font-size: 6px;
    }
    
    .slide_subtitle-ec {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        /*color: #349ed6;*/
        color: #000;
        padding: 0px 0px 10px 30px;

    }
    .slide_title-ec {
        font-family: 'Tinos';
        font-size: 30px;
        font-weight: 200;
        font-style: italic;
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 5px;
        line-height: normal;
        padding: 0px 0px 10px 30px;
    }
    .slide_title-ec sup {
        font-size: 16px;
    }
    
    .slide_desc-ec {
        color: #000;
        padding: 0px 0px 10px 30px;
    }
}
/*hr {
    height: 1px;
    color: #ccc;
    background-color: #ccc;
    border: none;
    width:65%;
    text-align:center; 
    margin: 0 auto;
}*/
/*hr {
    border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}*/
hr {
    border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-item {
    padding-left: 40px;
}

.shopcart {
    width: 75px;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: fixed;
  padding-top: 20px;    
  top: 70px;
  width: 100%;
  z-index: 999;
  background-color: #e9ecef;
}

.jumbotron {
  padding: 1rem 0rem;
  margin-bottom: 0rem;
  background-color: #e9ecef;
  border-radius: 0rem;
}

.item {
	width: 100%;	
}

.carousel {
    margin-top: 142px;
}

.ip {
    margin-top: 142px;
}

#testimonialimg {
	width: 200px;
	height: 200px;
}

.testimonialtxt {
	font-family: "Times";
	font-style: italic;
	font-weight: bold;
	padding: 10px;
}

#addtlProdImg {
	width: 100px;
	height: 100px;
}

.prodInfoBkgnd {
    background-color: #daf2fa;
}









/*********************/
/** From Gut Reboot **/
/*********************/

.storebody {
    position: relative;
    background: url("../../assets/images/bkgnd-store-1.jpg") no-repeat center top;
    background-size: cover;
    padding: 95px 0px 0px 0px;
    z-index: 999;
}

.essentialsProductImage {
    /*height: 600px;
    width: auto;*/
    border: solid 0px orange;
}

.drkblue {
    color: #0c364c !important; 
    font-weight: bold;
}

.text-primary-ltgreen {
    color: #8dc63f;
    /*text-shadow: 1px 1px 2px #333333;*/
}
.price-ltgreen {
    font-size: 1.25em;
    font-weight: 700;
    color: #8dc63f;
}

.clear{
    clear: both;
}

.txtSave {
    font-size: 60px;
    font-family: "Lobster";
    font-weight: normal;
    color: #8dc63f;
    letter-spacing: 3px;
    text-transform: none;
    padding-bottom: 0px;
}

.txtEveryBox {
    font-size: 40px;
    color: #0c364c;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 0px 0px 10px;
}

section.product-details .price .current {
  font-size: 30px;
}

.txtWithSubscription {
    font-size: 20px;
    color: #0c364c;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -5px;
    padding: 0px 0px 20px 0px;
}

.riskfree {
    font-size: 28px;
    font-weight: 700;
    color: #8dc63f;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.guarantee {
    font-size: 20px;
    color: #0c364c;
    font-weight: 700;
}
.itworks {
    color: #0c364c;
    padding: 20px 0px 50px 0px;
}

.owl-thumbs {
    padding-bottom: 20%;
}


.quantity .inc-btn {
    margin-left: 10px;
}
.quantity .dec-btn {
    margin-right: 10px;
}

.list-group-itemx {
  display: inline;
}

.list-inline-item:not(:last-child) {
  margin-right: 0rem;
}

.center {
    text-align: center;
}

.green {
    color: green;
}

.background-none {
	background: none;
}


/********************************************************/
/***************** Thank You page ***********************/
/********************************************************/

.thankYouBody {
    position: relative;
    background: url("../../assets/images/bkgnd-thankyou.jpg") no-repeat center top;
    background-size: cover;
    height: 1500px;
    padding: 100px 0px 0px 0px;
    z-index: 999;
}

.txtThankYou {
    font-size: 60px;
    font-family: "Lobster";
    font-weight: normal;
    color: #0c364c;
    letter-spacing: 3px;
    text-transform: none;
    padding: 20px 0px 0px 0px;
}

.confirm {
    padding: 0px 0px 50px 0px;
}

.nav-tabs{
	border-bottom: none;
}
.nav-item {
	border-bottom: 1px solid #fff;
	margin-top: 0px;
}
.nav-link {
	border-bottom:  0px solid #fff;
}
.nav-link a {
	border:  1px solid #fff;
}
.border-none {
	border: 0px;
}
.display-none {
	display: none;
}

.h3 {
    line-height: 40px;
}

.pad {
    padding: 0px 10% 0px 10%;
}

.phone {
    position: relative;
    top: -50px;
    left: -15px;
    width: 450px;
    margin-right: 0%;
    z-index: 0;  
}

.seeYouThere {
    position: relative;
    padding: 0px 50px 0px 50px;
    z-index: 999;
    
}

.water {
    position: relative;
    top: -100px;
    right: 341px;
    width: 800px;
    z-index: 0;
}

.joingroupbtn {
    position: relative;
    top: 20px;
    width: 300px;
    height: 166px;
    margin: auto;
}

    .joingroupbtn .joingroupbtn-top {
        width: 300px;
        height: 166px;
        display: none;
        position: absolute;
        z-index: 99;
}
    .joingroupbtn:hover .joingroupbtn-top {
        position: relative;
        width: 300px;
        height: 166px;
        display: inline-block;
}
    
   .joingroupbtn:hover .joingroupbtn-btm {
        display: none;
}

.nelogoftr {
    position: relative;
    top: -130px;
    width: 300px;
}